@using MudBlazor.Extensions.Explorer.Extensions.ThirdParty.CodeGatorForms.Examples
@using MudBlazor.Extensions.Explorer.Helpers
@namespace MudBlazor.Extensions.Explorer.Extensions

@*installation*@
<DocsPageSection>
    <SectionHeader Title="Installation">
        <Description>
            <ol class="ml-5">
                <li class="my-2">
                    If you don't have MudBlazor installed, <MudLink Href="https://mudblazor.com/getting-started/installation" Target="_blank">please install it first</MudLink>.
                </li>
                <li class="my-2">
                    Install the NuGet package: <CodeInline>dotnet add package CG.Blazor.Forms._MudBlazor</CodeInline>
                </li>
                <li class="my-2">
                    For BSS add <CodeInline>services.AddFormGeneration();</CodeInline> in <CodeInline>Startup.cs</CodeInline><br/>
                    For WASM add <CodeInline>builder.Services.AddFormGeneration();</CodeInline> in <CodeInline>Program.cs</CodeInline>                    
                </li>
            </ol>
        </Description>
    </SectionHeader>
</DocsPageSection>

@*usage*@
<DocsPageSection>
    <SectionHeader Title="Usage">
        <Description>
            Create your model type. Use attributes from the <CodeInline>CG.Blazor.Forms.Attributes</CodeInline> namespace to decorate any properties you want to be rendered on the form. <br />
            Here is an example:
        </Description>
    </SectionHeader>
    <SectionContent Outlined="true" FullWidth="false">
        <CodeGatorFormsExample />
    </SectionContent>
    <SectionSource Code="CodeGatorFormsExample" />
</DocsPageSection>